.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
*.pyc
lib
lib64
__pycache__
node_modules
.idea/*
.DS_Store
mkpdfs/design/report.css
mkpdfs/design/stylesheets/extensions.css
site
report.css
build
venv
