recursive-include mkpdfs_mkdocs *.jpg *.otf *.css *.ttf *.woff *.woff2
recursive-exclude mkpdfs_mkdocs/design/node_* *
recursive-exclude * *.scss *.json
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .gitignore
include README.md
include LICENSE
